manifest {
    homePage = 'https://github.com/icgc-argo/sanger-wgs-variant-caller'
    description = 'ICGC ARGO Sanger WGS Variant Calling Pipeline'
    name = 'sanger-wgs-variant-caller'
    version = '0.1.0-dev'
    defaultBranch = version
    nextflowVersion = '>=20.01.0'
}

process {
    container = 'ubuntu:18.04'
    cpus = 1
    memory = 1.GB
}

docker {
    enabled = true
    // runOptions = '-u \$(id -u):\$(id -g)'
}